@mixin hover($properties...) {
  transition: 0.3s ease;

  &:hover {
    @each $property, $value in $properties {
      #{$property}: $value;
    }
  }
}

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 6;
  }

  @include on-desktop {
    --columns: 12;
  }
}

@mixin container {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 34px;
  }

  @include on-desktop {
    max-width: 1280px;
    margin: auto;
    padding-inline: 110px;
  }
}
