.dropdown {
  margin-top: 13px;
  position: relative;

  &__box {
    display: flex;
    align-items: center;
    padding: 13px 24px;
    background-color: $menu-bg-color;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
  }

  &__item {
    cursor: pointer;

    @include hover(color $blue-color);

    &--active {
      color: $blue-color;
    }
  }
}
